body {
    width: 1080px;
    height: 1920px !important;
    background: #D6C7E3 !important;
    /*overflow: hidden;*/
}

.footer {
    background: #5E2E85;
    color: #fff;
    font-size: 14px;
    width: 1080px;
    bottom: 0;
    position: fixed;
}

.pages {
    cursor: pointer;
}

.sponsors-img {
    width: 533px;
    height: 234px;
}

.left-img {
    width: 525px;
    height: 234px;
}

.header {
    margin-bottom: 1px;
}

.homepage-logo {
    z-index: 10;
    margin-top: -811px;
    margin-left: 25px;
}

.newsletter {
    margin-top: -200px;
    position: absolute;
    z-index: 10;
    width: 633px !important;
    margin-left: 220px !important;
    border: 1px solid #5E2E85 !important;
}

.header-text {
    margin-top: -150px;
    position: absolute;
    z-index: 10;
    color: #5E2E85; 
    font-size: 18px;
    margin-left: 280px;
}

.header-text1 {
    margin-top: -250px;
    position: absolute;
    z-index: 10;
    color: #5E2E85; 
    font-size: 22px;
    margin-left: 280px;
}

.ui-keyboard.center-block.dropdown-menu.ui-keyboard-has-focus {
    width: 635px;
    margin-top: 378px;
    margin-left: 219px;
}

.map-wrapper {
    width: 1080px;
    padding: 10px;
    margin-top: 30px;
}

.img-wrapper h4 {
    color: #5e2e85;
}

#last_mouseover_id {
    display: none;
}

.map-wrapper .area-links {
    list-style: none;
    padding: 10px;
    display: inline-table;
    width: 33%;
}

.map-wrapper .area-links li span {
    padding: 0px;
    margin: 2px;
    cursor: pointer;
}

.map-wrapper #company_search_input,
.map-wrapper #submit_search {
    padding: 0 8px;
    font-size: 14px;
    height: 45px;
    outline: 0 none;
    border: 1px solid #ffc2dc;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #ffd5e7 inset;
    display: inline-block;
}

.map-wrapper #company_search_input {
    background: #ffeff6 none repeat scroll 0 0;
    color: #f072a9;
    width: 88%;
}

.map-wrapper #submit_search {
    background: #5e2e85;
    color: #fff;
    width: 10%;
}

.map-wrapper .links-wrapper {
    height: 500px;
    overflow-y: auto;
}

.map-wrapper .links-wrapper > span {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.slider-img {
    margin-left: 265px;
}

.sponsors-full {
    width: 400px;
    margin-bottom: 80px;
    margin-left: 50px;
}

.speakers {
    width: 200px;
    height: 295px;
    margin-bottom: 10px;
    cursor: pointer;
}

.speakers-name {
    font-size: 18px;
}

.modal-content {
    text-align: center;
    background: #D6C7E3 !important;
    margin-top: 200px !important;
}

.flip {
    animation: rotate 7s infinite;
}

.flip1 {
    animation: rotate 5s infinite;
}

.stage {
    font-size: 24px;
    font-weight: bold;
    color: #5E2E85;
    margin-top: 30px;
}

.day {
    border-left: 1px solid #5E2E85;
}

.time {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #5E2E85;
    text-align: center;
}

.name {
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #5E2E85;
    text-align: center;
}

.author {
    font-size: 14px;
    color: #5E2E85;
    text-align: center;
}

.stage {
    font-size: 32px;
    font-weight: bold;
    color: #5E2E85;
    margin-top: 30px;
    margin-bottom: 30px;
}

@keyframes rotate {
    100% {
        transform: rotateX(360deg);
    }
}